/* Muy basico de momento, hay que tocarlo */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto; 
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

header h1 a {
    color: #fff;
    text-decoration: none;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    min-height: 100vh; 
    padding: 1em;
    box-sizing: border-box;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: relative;
    width: 100%;
    bottom: 0;
}
