# Django
*.log
*.pot
*.pyc
__pycache__/

# Environments
.env  # Ignora archivos de entorno con variables de configuración (sensible)
venv/
env/
venv.bak/

# VSCode y otros editores/IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Archivos de configuraciones del sistema
.DS_Store
Thumbs.db
