body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
}

#header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
}

.module h2 {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    padding: 5px;
}

button {
    background-color: #4CAF50 !important;
    border: none;
    color: white !important;
    border-radius: 5px !important;
    padding: 5px 10px !important;
    cursor: pointer;
}

button:hover {
    background-color: #45a049 !important;
}
