{% extends "base.html" %}
{% block content %}
    <h1>Lista de Estaciones</h1>
    <div class="estaciones-lista">
        {% for estacion in estaciones %}
            <div class="estacion-item">
                {% if estacion.imagen %}
                <img src="{{ estacion.imagen.url }}" alt="{{ estacion.nombre }}" class="estacion-imagen">
                {% endif %}
                
                <div class="estacion-info">
                    <h2><a href="{% url 'estacion_detail' estacion.pk %}">{{ estacion.nombre }}</a></h2>
                    <p>Localización: {{ estacion.localizacion }}</p>
                    <p>Km pistas: {{ estacion.km_pistas }} km</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
