{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block content %}

<div class="estacion-detalle">
    <h1 class="estacion-titulo">{{ estacion.nombre }}</h1>
    <div class="estacion-detalle-info-imagen">
        <div class="estacion-detalle-info">
            <p>{{ estacion.descripcion }}</p>

            <p>{% trans "Kilómetros esquiables" %}: {{ estacion.km_pistas }} km</p>

            <p>
                {% trans "Esta estación se encuentra en el entorno de" %} 
                <a href="/localizacion/{{ estacion.localizacion.id }}/">{{ estacion.localizacion.nombre }}</a>
            </p>

            {% if estacion_similar %}
            <h2>{% trans "Estación Similar" %}</h2>
            <p>
                {% trans "La estación más cercana en kilómetros esquiables es" %}
                <a href="/estacion/{{ estacion_similar.id }}/">{{ estacion_similar.nombre }}</a>,
                {% trans "con" %} {{ estacion_similar.km_pistas }} km {% trans "esquiables." %}
            </p>
            
            {% else %}
            <p>{% trans "No hay estaciones similares en esta localización." %}</p>
            {% endif %}

            <!-- Contenedor para el gráfico -->
            <h2>{% trans "Distribución de Tipos de Pistas" %}</h2>
            <div class="chart-container">
                <canvas id="tipoDePistasChart"></canvas>
            </div>
        </div>
        {% if estacion.imagen %}
        <img src="{{ estacion.imagen.url }}" alt="{{ estacion.nombre }}" class="estacion-detalle-imagen">
        {% endif %}
    </div>

    {% if estacion.imagen_plano %}
    <div class="estacion-detalle-info-plano">
        <h2>{% trans "Plano de pistas" %}</h2>
        <p>{% trans "Haz click en la imagen inferior para ver el plano de esta estación:" %}</p>
    </div>
    <div class="estacion-detalle-plano">
        <img src="{{ estacion.imagen_plano.url }}" alt="{{ estacion.nombre }} plano" class="estacion-detalle-imagen-plano">
        <div class="icono-zoom" onclick="openInNewTab('{{ estacion.imagen_plano.url }}')">🔍</div>
    </div>
    <script>
        function openInNewTab(url) {
            window.open(url, '_blank').focus();
        }

        // Generar el gráfico
        const tipos = JSON.parse('{{ tipos_con_cantidad|escapejs }}');
        const labels = tipos.map(tipo => tipo.tipo_de_pista__nombre);
        const data = tipos.map(tipo => tipo.cantidad);
        const urls = tipos.map(tipo => tipo.url);

        const ctx = document.getElementById('tipoDePistasChart').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: labels,
                datasets: [{
                    label: '{% trans "Tipos de Pistas" %}',
                    data: data,
                    backgroundColor: [
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(0,0,0, 0.2)',
                        'rgba(153, 102, 255, 0.2)'
                    ],
                    borderColor: [
                        'rgba(75, 192, 192, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(0, 0, 0)',
                        'rgba(153, 102, 255, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                },
                onClick: function (event, elements) {
                    if (elements.length > 0) {
                        const index = elements[0].index;
                        window.location.href = urls[index];
                    }
                }
            }
        });
    </script>
    {% endif %}
</div>
{% endblock %}