{% extends "base.html" %}

{% block content %}
<h1>{{ estacion.nombre }}</h1>
<p>Kilómetros esquiables: {{ estacion.km_pistas }} km</p>

<h2>Pistas</h2>
<ul>
    {% for tipo in tipos_con_cantidad %}
        <li>{{ tipo.tipo_de_pista.nombre }}: {{ tipo.cantidad }} pistas</li>
    {% endfor %}
</ul>

{% if estacion_similar %}
    <h3>Estación Similar</h3>
    <p>
        La estación más cercana en kilómetros esquiables es 
        <a href="{% url 'estacion_detail' estacion_similar.pk %}">{{ estacion_similar.nombre }}</a>, con {{ estacion_similar.km_pistas }} km esquiables.
    </p>
{% else %}
    <p>No hay estaciones similares en esta localización.</p>
{% endif %}
{% endblock %}


