{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="estacion-detalle">
    <h1 class="estacion-titulo">{{ estacion.nombre }}</h1>
    <div class="estacion-detalle-info-imagen">
        <div class="estacion-detalle-info">
            <p>{{ estacion.descripcion }}</p>

            <p>{% trans "Kilómetros esquiables" %}: {{ estacion.km_pistas }} km</p>

            {% if estacion_similar %}
            <h2>{% trans "Estación Similar" %}</h2>
            <p>
                {% blocktrans with estacion=estacion_similar.nombre km=estacion_similar.km_pistas %}
                La estación más cercana en kilómetros esquiables es {{ estacion }}, con {{ km }} km esquiables.
                {% endblocktrans %}
            </p>
            {% else %}
            <p>{% trans "No hay estaciones similares en esta localización." %}</p>
            {% endif %}

            <!-- Contenedor para el gráfico -->
            <h2>{% trans "Distribución de Tipos de Pistas" %}</h2>
            <canvas id="tipoDePistasChart" width="400" height="400"></canvas>
        </div>
        {% if estacion.imagen %}
            <img src="{{ estacion.imagen.url }}" alt="{{ estacion.nombre }}" class="estacion-detalle-imagen">
        {% endif %}
    </div>
    
    {% if estacion.imagen_plano %}
    <div class="estacion-detalle-info-plano">
        <h2>{% trans "Plano de pistas" %}</h2>
        <p>{% trans "Haz click en la imagen inferior para ver el plano de esta estación:" %}</p>
    </div>
    <div class="estacion-detalle-plano">
        <img src="{{ estacion.imagen_plano.url }}" alt="{{ estacion.nombre }} plano" class="estacion-detalle-imagen-plano">
        <div class="icono-zoom" onclick="openInNewTab('{{ estacion.imagen_plano.url }}')">🔍</div>
    </div>
    <script>
        function openInNewTab(url) {
            window.open(url, '_blank').focus();
        }

        //generar el gráfico

        const tipos = JSON.parse('{{ tipos_con_cantidad|escapejs }}');
        console.log("Datos recibidos para la gráfica:", tipos);


        const labels = tipos.map(item => item.tipo_de_pista__nombre); // Nombres de los tipos de pistas
        const data = tipos.map(item => item.cantidad); // Cantidad de cada tipo
        const urls = tipos.map(item => item.url); //Link para vincular a cada tipo de pista
        console.log("Labels:", labels);
        console.log("Data:", data);
        console.log("URLs:", urls);

        const ctx = document.getElementById('tipoDePistasChart').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Distribución de Tipos de Pistas',
                    data: data,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                },
                onClick: function (event, elements) {
                    if (elements.length > 0) {
                        const index = elements[0].index;
                        window.location.href = urls[index];
                    }
                }
            }
        });
    </script>
    {% endif %}
</div>
{% endblock %}



