{% extends "base.html" %}
{% load i18n %}
{% block content %}
{% load static %}
<div class="portada">
    <div class="ski-stick-imagen">
        <img src="{% static 'img/banner.jpg' %}" alt="{% trans 'Ski Stick Banner' %}">
    </div>
    <div class="portada-info">
        <h2>{% trans "Bienvenidos" %}</h2>
        <p>
            {% blocktrans with estaciones_url=estacion_list localizaciones_url=localizacion_list pistas_url=pista_list %}
            ¡Bienvenidos a nuestra guía definitiva de estaciones de esquí!
            Aquí encontrarás toda la información que necesitas para planificar tu próxima aventura en la nieve.
            Desde las mejores <a href="{{ estaciones_url }}">estaciones</a> de esquí en diversos rincones de nuestro país hasta una completa descripción de las mejores <a href="{{ localizaciones_url }}">localizaciones</a> y <a href="{{ pistas_url }}">pistas</a>, nuestro objetivo es ayudarte a descubrir destinos increíbles para todos los niveles y estilos.
            Ya seas un principiante que busca pistas suaves o un esquiador avanzado en busca de descensos desafiantes, aquí encontrarás toda la información que necesitas para escoger el destino ideal.
            ¡Prepárate para deslizarte por las montañas más impresionantes y vivir momentos inolvidables en la nieve!
            {% endblocktrans %}
        </p>
        <br>
        <h2>{% trans "Estaciones Destacadas" %}</h2>
        <p>{% trans "Estas son las estaciones más largas de cada localización:" %}</p>
        <ul>
            {% for localizacion, estacion in estaciones_destacadas.items %}
                {% if estacion %}
                    <li>{{ localizacion }}: <a href="{% url 'estacion_detail' estacion.pk %}">{{ estacion.nombre }}</a> - {{ estacion.km_pistas }} {% trans "km esquiables" %}</li>
                {% else %}
                    <li>{{ localizacion }}: {% trans "No hay estaciones disponibles" %}</li>
                {% endif %}
            {% endfor %}
        </ul>
        <br>
        <div class="buscar">
            <div>
                <h3>{% trans "Buscar Estaciones" %}</h3>
                <img src="{% static 'img/estacion.png' %}" alt="{% trans 'Estación' %}"><br><br>
                <a href="{% url 'estacion_list' %}">{% trans "Ir a la lista de estaciones" %}</a>
            </div>
            <div>
                <h3>{% trans "Buscar Localizaciones" %}</h3>
                <img src="{% static 'img/localizacion.png' %}" alt="{% trans 'Localización' %}"><br><br>
                <a href="{% url 'localizacion_list' %}">{% trans "Ir a la lista de localizaciones" %}</a>
            </div>
            <div>
                <h3>{% trans "Buscar Pistas" %}</h3>
                <img src="{% static 'img/pista.png' %}" alt="{% trans 'Pista' %}"><br><br>
                <a href="{% url 'pista_list' %}">{% trans "Ir a la lista de pistas" %}</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
        



