{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block content %}
<div class="localizacion-lista-header">
    <h1>{% trans "Mapa de Localizaciones" %}</h1>
    <p>{% trans "Un click para conocer un poco las localizaciones" %}</p>
    <p>{% trans "Doble click para saber detalles ;" %}</p>
</div>
    <!-- Contenedor para el mapa -->
    <div id="map" style="height: 500px; width: 100%;"></div>

    <!-- Script para inicializar el mapa -->
    <script>
    var localizaciones = JSON.parse('{{ localizaciones_json|safe }}');

    var map = L.map('map').setView([40.416775, -3.703790], 5);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 18,
        attribution: '{% trans "Map data" %} <a href="https://openstreetmap.org">{% trans "OpenStreetMap contributors" %}</a>'
    }).addTo(map);

    localizaciones.forEach(function (loc) {
        var marker = L.marker([loc.latitud, loc.longitud]).addTo(map)
            .bindPopup(`<strong>${loc.nombre}</strong><br>${loc.descripcion}`);

        marker.on('dblclick', function () {
            window.location.href = `/localizacion/${loc.id}/`;
        });
    });

    </script>
{% endblock %}

