{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="pista-detalle">
    <h1 class="pista-titulo">{% trans "Pista" %} {{ pista.nombre }}</h1>
        <p>{{ pista.descripcion_larga }}</p>
        {% if pista.nombre == "competicion" %}
        <h2>{% trans "Estaciones con pistas de" %} {{ pista.nombre }}</h2>
        {% elif pista.nombre == "azul" %}
        <h2>{% trans "Estaciones con pistas azules" %}</h2>
        {% else %}
        <h2>{% trans "Estaciones con pistas" %} {{ pista.nombre }}s</h2>
        {% endif %}
        {% for relacion in estaciones_con_cantidad %}
        <div class="pista-estacion">
            {% if relacion.estacion.imagen %}
                <img src="{{ relacion.estacion.imagen.url }}" alt="{{ relacion.estacion.nombre }}" class="pista-estacion-imagen">
            {% endif %}
            <h3><a href="{% url 'estacion_detail' relacion.estacion.pk %}">{{ relacion.estacion }}</a></h3>
            {% if pista.nombre == "competicion" %}
            <h3>{% trans "Pistas de" %} {{ pista.nombre }}: {{ relacion.cantidad }}</h3>
            {% else %}
            <h3>{% trans "Pistas" %} {{ pista.nombre }}s: {{ relacion.cantidad }}</h3>
            {% endif %}
        </div>
        {% endfor %}
</div>
{% endblock %}




